## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

## NuGet
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nupkg
**/[Pp]ackages/repositories.config

## VS / Rider
.vs/
.idea/
*.swp
*~

## OS
.DS_Store
Thumbs.db

## Environment
appsettings.*.local.json
appsettings.Development.json
*.env
